.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    background-color: var(--base-color);
    padding-top: 60px;
    z-index: 1;
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(4em, 15%);
}

#login-modal.hidden {
    display: none;
}

.modal-content {
    background-color: var(--accent-color);
    margin: 5px auto;
    border: 1px solid var(--line-color);
    width: 80%;
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
}

.modal-content .modal-container{
    display: grid flex;
    background-color: var(--accent-color);
}

.modal-content .modal-container #inputs-container {
    display: grid;
}

.modal-content .modal-container #inputs-container label input {
    padding: 20px;
    width: 95%;
    margin-top: 10px;
    border: 1px solid var(--line-color);
    border-radius: 1em;
    color: var(--text-color);
    background-color: var(--accent-color);
    font-size: 18px;
    font-weight: 400;
}

.modal-content .modal-container #inputs-container label input.invalid {
    border: 1px solid var(--error-color);
}

.modal-content .modal-container #inputs-container label b {
    font-size: 20px;
}

.modal-content .modal-container #inputs-container label {
    margin-top: 10px;
}

.modal-content .modal-container #buttons-container button {
    display: grid;
}

.modal-content #login-submit, .modal-content #register-submit {
    border: 3px solid var(--line-color);
    border-radius: 3em;
    padding: 20px;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    background-image: radial-gradient(circle at center, var(--base-btn-color), var(--base-color));
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    font-family: inherit;
}

.modal-content #links-container {
    display: flex;
    position: relative;
    gap: 60%;
    margin-top: 6px;

    #forgot-btn a span {
        text-decoration: none;
        color: var(--secondary-text-color);
    }

    #remember-checkbox {
        border: 1px solid var(--line-color);
        border-radius: 3em;
        color: var(--base-color);
    }
}

.close {
    position: relative;
    right: 25px;
    left: 99%;
    color: var(--secondary-text-color);
}

.close:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.modal-content #login-submit:hover, .modal-content #register-submit:hover {
    filter: brightness(120%);
}

.modal-content #login-submit:active, .modal-content #register-submit:active {
    filter: brightness(80%);
}

.animate {
    animation: animatezoom 600ms;
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.5);
}

.overlay.hidden {
    display: none;
}

.modal-content .error {
    width: 95%;
    padding: 0;
    font-size: 80%;
    color: var(--error-color);
}

.modal-content .error.active {
    padding: 0.3em;
}