@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --base-color: #181f25;
    --line-color: #686868;
    --hover-color: #d8eeff;
    --text-color: #fcffff;
    --accent-color: #232b2e;
    --secondary-text-color: #c0c1c3;
    --base-btn-color: #1d5993;
    --text-align: center;
    --bg-opacity: .1;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-image: linear-gradient(to bottom, transparent 0%, black 40%), url('../content/images/pexels-pixabay-247676.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(24, 31, 37, var(--bg-opacity));
    background-blend-mode: multiply;
    color: var(--text-color);
    display: grid;
    grid-template-columns: auto 1fr;
}
body.modal-open {
    overflow: hidden;
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-color);
    border-right: 1px solid var(--line-color);
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}
#sidebar.close {
    padding: 5px;
    width: 60px;
}
#sidebar ul{
    list-style: none;
}
#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
        font-weight: 600;
    }
}
#sidebar ul li.active a {
    color: var(--text-color);
}
#sidebar a, #sidebar .dropdown-btn, #sidebar #login-btn, #sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    gap: 1em;
}
#sidebar svg, .carousel-button svg {
    flex-shrink: 0;
    fill: var(--text-color);
}
#sidebar a span, #sidebar #login-btn span, #sidebar .dropdown-btn span {
    flex-grow: 1;
}
#sidebar a:hover, #sidebar #login-btn:hover, #sidebar .dropdown-btn:hover {
    background-color: var(--hover-color);
}
#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div {
        overflow: hidden;
    }
}
#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}
#sidebar .sub-menu a {
    padding-left: 2em;
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}
#toggle-btn:hover {
    background-color: var(--hover-color);
}

.dropdown-btn svg {
    transition: 200ms ease;
}

.rotate svg:last-child {
    rotate: -180deg;
}

.dropdown-btn, #login-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

main {
    padding: min(30px, 7%);
}

main p {
    color: var(--secondary-text-color);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    inline-size: 450px;
    overflow-wrap: break-word;
    margin: auto;
}

main h1 {
    text-align: center;
    letter-spacing: 1px;
    line-height: 40px;
    font-size: 45px;
}
main h1.heading.top span em.italic {
    font-size: 48px;
    font-weight: bold;
}

main h2 {
    text-align: center;
    letter-spacing: 1px;
    line-height: 40px;
    font-size: 25px;
}

.header {
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
    
    h1{ margin-top: .25em };
    p{ margin-top: 1em};
}

.container {
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
    
    h1{ margin-top: .25em };
    p{ margin-top: 1em};
}

.collection {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
    padding: min(1.5em, 15%);
}

a.home-btn-group-body {
    border: 3px solid var(--line-color);
    border-radius: 3em;
    padding: 30px;
    padding-right: 150px;
    inline-size: 100px;
    width: 100px;
    height: 50px;
    overflow-wrap: break-word;
    color: var(--text-color);
    text-decoration: none;
}
a.home-btn-group-body span {
    transition: font-size 300ms ease;
}
a.home-btn-group-body:hover {
    span {
        font-size: 18px;
    }
}

.carousel {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
}
.carousel-items {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    list-style: none;
    width: 100%;
    gap: 4vw;
}

.carousel-item {
  flex: 0 0 auto;
  width: 85%;
  padding: 60px;
  margin-top: 1em;
  border: 1px solid var(--line-color);
  border-radius: 1em;
  box-sizing: border-box;
  text-align: left;
  scroll-snap-align: center;
}
.carousel-button {
    padding: 1em;
    margin-top: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
}
.carousel-button svg {
    width: 180%;
    height: 180%;
    transition: transform 300ms ease;
    transform-origin: center center;
}
.carousel-button svg:hover {
    transform: scale(1.8);
}
.carousel-button svg:active {
    fill: var(--accent-color);
}
.carousel-button:disabled {
    opacity: 0.2;
    cursor: unset;
}

.divider {
    border-top: 1px solid var(--line-color);
    width: 60%;
    margin: auto;
}

.layout-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.grid-card {
    background-color: var(--base-color);
    border: 1px solid var(--line-color);
    border-radius: .25em;
    padding: 30px;
    transition: 300ms ease;
}
.grid-card span {
    color: var(--secondary-text-color);
    font-size: 15px;
}
.grid-card:hover {
    transform: translateY(-5px);
}

#create-char-btn {
    background-image: linear-gradient(to right, var(--base-color), var(--base-btn-color));
}

#browse-games-btn {
    background-image: linear-gradient(to right, var(--base-color), var(--accent-color));
}